extends layout
block content
    header
        h1 My Cart
        .summary-section
            p#total-price
            br
        .summary-section
            button.btnFilter(onclick="location.href='/clearCart'") Clear All
            button.btnFilter(onclick="location.href='/addOrder'")  Buy Now!
        table.table-container
            thead
                tr
                    th Name
                    th Quantity
                    th Price
                    th total price

                each c in cart
                    if c.userEmail === emailUser
                        tr
                            td= c.name
                            td= c.quantity
                            td= c.price
                            -var totalPriceProducts = (c.price * c.quantity).toFixed(2)
                            td= totalPriceProducts
                            td
                                .image-container
                                img.image1(src=c.image1)
                                img.image2(src=c.image2)
                            td
                                button.btn-remove-item(onclick=`console.log('${c.cartId}'); location.href = '/removeFromCart/' + ${c.cartId}`) Remove
