extends layout

block content
    header Products
    form#searchForm(action="/products55", method="get")
        input#search(type='text', placeholder='Search..', name='search')
    #filtersButtons.container
        button.btnFilter(onclick="location.href='/All'") Show all
        button.btnFilter(id="btnNike" onclick="location.href='/Nike'") Nike
        button.btnFilter(onclick="location.href='/NewBalance'") New Balance
        button.btnFilter(onclick="location.href='/Yeezy'") Yeezy

    .table-container
        table
            tr
                each product in products
                    tr
                        td= product.name
                        td= product.fit
                        td
                            .image-container
                                img.image1(src=product.image1)
                                img.image2(src=product.image2)
                        td= product.price
                        td
                            #btnDetails1
                                button.filtersButtons(onclick=`console.log('${product.productId}'); location.href = '/addToCart/' + ${product.productId}`) Add To Cart